{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div align='center'>
    <br/><br/><br/>
    <h1>Hello {{ user_name }}, here you can create your personal notes.</h1>
    <br/>
    <p>
        "The secret of getting ahead is getting started." — <b>Mark Twain</b>
    </p>
    <br/>
</div>
    <ul class='list-group list-group-flush' id='notes'>
        {% for note in user.notes %}
        <li class='list-group-item d-flex justify-content-between'>
            {{ note.id }}. {{ note.data }}
            <button type='button' class='btn-close' aria-label="Close" onClick='deleteNote({{ note.id }})'>
            </button>
        </li>
        {% endfor %}
    </ul>
    <br/>
    <form method='POST'>
        <div class="form-outline mb-4">
            <textarea name='note' id='note' class='form-control'></textarea>
        </div>
        <br/>
        <div align='center'>
            <button type='submit' class='btn btn-danger'>Add note</button>
        <div>
    </form>

{% endblock %}


