{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %} 

<form method='POST' align='center'>
    <br/>
        <h3>Welcome to note taking app !</h3>
        <p>
            The functions of the application are accessed after logging in. If you do not have an account, please create one by clicking on the "Sign in".
        </p>
    <br/>
        <div class='mx-auto col-10 col-md-8 col-lg-6'>
            <input 
                type='email' 
                class='form-control' 
                id='email' 
                name='email' 
                placeholder='Enter email'/>
        </div>
    <br/>
        <div class='mx-auto col-10 col-md-8 col-lg-6'>
            <input 
                type='password' 
                class='form-control' 
                id='password' 
                name='password' 
                placeholder='Enter password'/>
        </div>
    <br/>
        <button type='submit' class='btn btn-primary'>Login</button>
    <br/><br/>
        <p>(You do not need to use your real email.)</p>
</form>

{% endblock %}
