{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %} 

<form method='POST' align='center' class='login-form'>
    <br/><br/><br><br/>
        <h1>Welcome in to note taking app !</h1>
        <p>
            The functions of the application are accessed after logging in. If you do not have an account, please create one by clicking on the 
            <b><a href='/sign-up' class="link-dark" id="sign-up-href">'Sign up'</a></b>.
        </p>
    <br/>
        <div class='mx-auto col-10 col-md-8 col-lg-6'>
            <input 
                type='email' 
                class='form-control' 
                id='email' 
                name='email' 
                placeholder='Enter email'/>
        </div>
    <br/>
        <div class='mx-auto col-10 col-md-8 col-lg-6'>
            <input 
                type='password' 
                class='form-control' 
                id='password' 
                name='password' 
                placeholder='Enter password'/>
        </div>
    <br/>
        <p>(Please make sure you have an account created.)</p>
        <button type='submit'  class="btn btn-dark sub-buttons">Log in</button>
</form>

{% endblock %}
