/* Custom CSS to apply Roboto font to all elements */
body {
    font-family: 'Courier Prime', monospace;
    /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
    /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
    /* height: 100vh; */
}

.form-control {
    background-color: transparent;
    /* border: 1px solid black; */
}

.form-control:focus {
    background-color: transparent;
}

.list-group-item {
    background-color: transparent;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
    }
}



