/* Custom CSS to apply Roboto font to all elements */
body {
    font-family: 'Courier Prime', monospace;
    /* background: linear-gradient(45deg, #ffc107 0%, #ffc107 33.33%, transparent 33.33%, transparent 66.66%, #ffc107 66.66%, #ffc107 100%); */
    /* height: 100vh; */
}

.hello-text{
    display: inline-block;
    text-align: justify;
};

.profile-picture {
    width: 10000px;  
}

.form-control {
    background-color: transparent;
    /* border: 1px solid black; */
};

.form-control:focus {
    background-color: transparent;
};

.list-group-item {
    background-color: transparent;
};

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
    }
};

/* Changing deatails in theme */

.form-control:focus {
    border-color: #dc3545; /* Bootstrap warning color */
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25); /* Bootstrap warning color with opacity */
};

.form-check-input[type="checkbox"]:not(.switch-input) {
    border-color: black; /* Bootstrap warning color */
};
/* Change the focus ring color for switchers (checkboxes and radio buttons) */
.form-check-input:focus {
    box-shadow: none;
};

/* Change the checkbox icon color to white */
.form-check-input[type="checkbox"]:not(.switch-input):checked {
    background-color: #dc3545; /* Bootstrap warning color */
};

.pulsate:hover {
    animation: pulsate 2s infinite;
    }

        
    @keyframes pulsate {
        0% {
          text-shadow: 0 0 5px rgba(255, 255, 255 ,1);
        }
        50% {
          text-shadow: 0 0 15px rgba(255, 255, 255 ,1);
         }
        100% {
          text-shadow: 0 0 5px rgba(255, 255, 255 ,1);
        }
      };
    
